.title{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}
.header {
  text-align: left;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 50px;
}

/*comment: I added this image to make the homepage feel welcoming, and to provide an image of myself to the user*/
.main-body {
  background-image: url("https://cdn.glitch.global/905fbf84-e612-4eb4-87c8-942692aad1c9/Hello!%20(13).png?v=1699323322140");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  text-align: left;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: white;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: #9fffcb; 
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar li {
    float: left;
    text-align: center;
    margin-right: 130px;
    margin-left: 130px;
}

.navbar li a {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: #004e64; 
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #9fffcb;
    background-color: white;
}

.footer {
  color: white;
  padding-top: 280px;
  font-family: sans-serif;
}

.second-body {
background-color: #004e64;
}

.heading-stuff{
  position: absolute;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 7px;
  padding-left: 10px;
}

.totoro {
  position: relative;
  }

.totoro img{
  position: absolute;
  top: 120px;
  left: 50px;
}

.totoro-header {
  position: relative;
}
  
 .totoro-header h1{
  position: absolute;
  top: 90px;
  right: 138px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  }
  
.totoro-caption {
  position: relative;
}

.totoro-caption p{
  position: absolute;
  top: 200px;
  right: 148px;
  left: 650px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.perfume{
position: relative;
}

.perfume img{
  position: absolute;
  top: 610px;
  left: 50px;
}

.perfume-caption{
position: relative;  
}

.perfume-head h2{
  position: absolute;
  top: 600px;
  right: 345px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 40px;
  font-weight: bold; 
}

.perfume-caption p{
  position: absolute;
  top: 730px;
  right: 335px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.skyrim{
 position: relative;
}

.skyrim img{
position: absolute;
top: 1110px;
left: 50px;
}

.skyrim-head h3 {
  position: absolute;
  top: 1085px;
  right: 148px;
  left: 650px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 40px;
  font-weight: bold;
}
.skyrim-cap {
  position: absolute;
  top: 1240px;
  right: 148px;
  left: 650px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.keys{
  position:relative;
}

.keys img{
position: absolute;
top: 1635px;
left: 50px;
}

.key-header h4{
  position: absolute;
  top: 1580px;
  left: 650px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 40px;
  font-weight: bold
}

.keys-cap{
  position: absolute;
  top: 1725px;
  left: 650px;
  width: 450px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.collar{
  position: relative;
}

.collar img{
  position: absolute;
  top: 2150px;
  left: 50px;
}

.collar-head h5{
  position: absolute;
  top: 2100px;
  left: 650px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 40px;
  font-weight: bold
}

.collar-cap{
  position: absolute;
  top: 2250px;
  left: 650px;
  width: 450px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.third-body {
  background-image: url("https://cdn.glitch.global/905fbf84-e612-4eb4-87c8-942692aad1c9/Hello!%20(9).png?v=1699322361639");
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  text-align: left;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.bio{
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  color: white; 
  width: 650px;
}

.bio-2{
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  color: white; 
  width: 650px;
}

.room-why{
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  color: white; 
  width: 650px;
  
}
.heading-music{
  position: absolute;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.body-5{
background-color: #004e64;
}

.mitski{
  position: relative;
}

.mitski img{
 position: absolute;
 top: 120px;
 left: 100px;
}

.mitski-header{
  position: absolute;
  top: 140px;
  left: 600px;
  width: 700px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 10px;
  font-weight: bold 
}

.mitski-caption{ 
  position: absolute;
  top: 170px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}
.mitski-list{
  position: absolute;
  top: 220px;
  left: 600px;
  width: 700px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.deftones{
  position: relative;
}

.deftones img{
 position: absolute;
 top: 540px;
 left: 100px;
}

.deftones-header{
  position: absolute;
  top: 560px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 10px;
  font-weight: bold 
}

.deftones-caption{ 
  position: absolute;
  top: 590px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}
.deftones-list{
  position: absolute;
  top: 640px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.the-1975 {
  position: relative;
}

.the-1975 img{
 position: absolute;
 top: 950px;
 left: 100px;
}

.the-1975-header{
  position: absolute;
  top: 970px;
  left: 600px;
  width: 650px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 10px;
  font-weight: bold 
}

.the-1975-caption{ 
  position: absolute;
  top: 1000px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}
.the-1975-list{
  position: absolute;
  top: 1050px;
  left: 600px;
  width: 600px;
  color: white;
  font-family: sans-serif;
  line-height: 2.5;
  font-size: 20px;
}

.footer-music {
  color: white;
  padding-top: 1350px;
  font-family: sans-serif;
}

.footer-stuff{
  color: white;
  padding-top: 2700px;
  font-family: sans-serif;
}

.footer-aboutme{
  color: white;
  padding-top: 70px;
  font-family: sans-serif;
}